# Node modules (install inside container if needed)
node_modules

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Editor / OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Test & coverage
coverage
__tests__

# Docs
README.md
