# Dependencies
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Coverage
coverage/

# Docker artifacts
*.tar

# Jenkins
jenkins_home/

# Misc
*.swp
